# Ignore model outputs for xlm_roberta in all subtasks
subtask1/subtask1/models/svm/svm_eng.joblib
subtask1/subtask1/models/xlm_roberta/
subtask1/models/xlm_roberta/
subtask1/models/svm/svm_eng.joblib



subtask2/models/svm/svm_eng.joblib
subtask2/subtask2/models/svm/svm_eng.joblib
subtask2/subtask2/models/xlm_roberta/eng



subtask3/models/svm/svm_eng.joblib
subtask3/subtask3/models/svm/svm_eng.joblib
subtask3/subtask3/models/xlm_roberta/eng


.venv/
